name: Rust

on: [push, pull_request]

jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions-rs/toolchain@v1
    - name: Check format
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: -- --check
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1 # latest stable rust release
    - name: Run tests (only default features)
      uses: actions-rs/cargo@v1
      with:
        command: test
    - name: Run tests (all tests enabled)
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --features "refreshing-token"
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
    - name: Check (default features)
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --examples --lib
    - name: Check (native-tls)
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --no-default-features --features "transport-tcp transport-tcp-native-tls transport-ws transport-ws-native-tls refreshing-token metrics-collection with-serde" --lib --examples
    - name: Check (rustls-native-roots)
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --no-default-features --features "transport-tcp transport-tcp-rustls-native-roots transport-ws transport-ws-rustls-native-roots refreshing-token metrics-collection with-serde" --lib --examples
    - name: Check (rustls-webpki-roots)
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --no-default-features --features "transport-tcp transport-tcp-rustls-webpki-roots transport-ws transport-ws-rustls-webpki-roots refreshing-token metrics-collection with-serde" --lib --examples
    - name: Check (no default features)
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --no-default-features --lib
    - name: Check (default features with serde)
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --features "with-serde" --lib
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
    - name: Build documentation
      uses: actions-rs/cargo@v1
      with:
        command: docs
        # If updating this make sure to update Cargo.toml ([package.metadata.docs.rs]) too
        args: --no-deps --no-default-features --features "refreshing-token transport-tcp transport-tcp-rustls-webpki-roots transport-ws transport-ws-rustls-webpki-roots metrics-collection with-serde"
    - uses: actions/upload-artifact@v2
      with:
        name: docs
        path: target/doc/
